.GameplayContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 350px;
  width: 400px;
  margin: auto;
}
.ChatLogContainer {
  height: 100%;
  border: 2px solid rgb(0, 162, 255);
  border-radius: 1.5rem;
  overflow-y: scroll;
  overflow: hidden;
}
